<% include partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Something went wrong. Check the API.</h1>
			<div class="button-group">
				<a class="myButton" href="/">Back to the search</a>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>
