<% include partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Search For a City </h1>
			<div>
				<form action="/results" method="GET">
					<input type="text" placeholder="Type a City" name="search">
					<input type="submit">
				</form>
			</div>
		</div>
	</div>
</div>



<% include partials/footer %>
